<head>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- <script src="../interface/viewListedSpaceInterface.js"></script> -->
</head>


<h1>Hire a Space</h1>

<ul>
  <li>
    <h1>Space.name</h1>
    <p>Space.address</p>
    <p>Space.id</p>
    <p>Space.cost</p>
    <p>Space.description</p>
    <button id="bookSpace">BookNow!</button>
  </li>

</ul>
