<h1>Welcome to Makers BNB!<h1>
<form action='/list_space'>
  <input type='submit' name='List a New Space' value='List a New Space'>
</form>

<form action='/hire_space'>
  <input type='submit' name='Hire a Space' value='Hire a Space'>
</form>

<form action='/sign_up'>
  <input type='submit' name='Sign Up' value='Sign Up'>
</form>
