
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../interface/*.js"></script>
</head>

<h1>Welcome to Makers BNB!<h1>
<form action='/list_space'>
  <input type='submit' name='List a New Space' value='List a New Space' id='listSpace'>
</form>

<form action='/hire_space'>
  <input type='submit' name='Hire a Space' value='Hire a Space' id='hireSpace'>
</form>

<form action='/sign_up'>
  <input type='submit' name='Sign Up' value='Sign Up' id='signUp'>
</form>

<form action='/view_listed_spaces'>
  <input type='submit' name='View Listed Spaces' value='View Listed Spaces' id='viewListedSpaces'>
</form>
