<h1>List a New Space</h1>
<p>Please enter the details of the space you would like to rent out:<p>
<form action='/' method='post'>
  Name: <input type='text' name='name'>
  <input type='submit' name='Submit'>
</form>
